*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
!debug.keystore.base64
!webapp/*.apk
!webapp/download/*.apk
!webapp/FlowTest.apk
!FlowTest.apk
!.build-outputs/*.apk
.build-outputs/
server.log
node_modules/
